<div class="ui fluid card">
    <div class="image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <a href="{{permalink}}" class="ui inverted button">
                        <i class="add icon"></i>
                        Detalhes
                    </a>
                </div>
            </div>
        </div>
        
        {{thumbnail}}
        
    </div>
    
    <div class="content">
        
        <div class="meta" style="margin-bottom:10px;">
            <i class="caret right icon"></i>
            {{modalidade}}
        </div>
        
        <a href="{{permalink}}" class="header">
            {{title}}
        </a>
        
    </div>
</div>